<center>
  <div class="row">
    <div class="col-md-1">
    </div>
      <div class="col-md-10" style="margin-top:50px">

        <h1><b>Parlamentares</b></h1>

        <div class="row" style="margin-top:50px">
          <% @parliamentaries.each do |parliamentary| %>
            <div class="col-sm-2">
              <div class="card h-75" style="margin:0.5rem">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to parliamentary.name, parliamentary %></h5>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      <button type="button" class="btn btn-primary" style="margin-bottom:25px">
        <%= link_to 'Voltar', root_path, style: 'color: white'%>
      </button>
    </div>
  </div>
<center>
