<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2" style="margin-top:25px">
        <%= image_tag "http://www.camara.leg.br/internet/deputado/bandep/#{@parliamentary.register}.jpg", size: "190x260"%>
      </div>
      <div class="col-md-4" style="margin-top:100px">
        <h1><b><%= @parliamentary.name%></b></h1>
        <h2>Partido: <%= @parliamentary.party%></h2>
      </div>
      <div class="col-md-6" style="margin-top:25px">
        <%= pie_chart @parliamentary.spendings.group(:description).count %>
      </div>
    </div>

    <center>
      <div class="row" style="margin-top:50px">
        <div class="col-md">
          <h3>Gastos totais em 2019: <b>R$ <%= sprintf('%.2f', @parliamentary.spendings_sum) %></b></h3>
        </div>
        <div class="col-md">
          <h3>Maior despesa do ano: <b>R$ <%= sprintf('%.2f', @parliamentary.most_expensive_spending) %></b></h3>
        </div>
      </div>
    </center>


    <div class="row" style="margin-top:50px">
      <table class="table">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Fornecedor</th>
            <th>Data de Emissão</th>
            <th>Valor Líquido</th>
            <th>Documento</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @parliamentary.spendings.order("date").each do |spending| %>
            <tr>
              <td><%= spending.description%></td>
              <td><%= spending.provider%></td>
              <td><%= spending.date.strftime("%d/%m/%Y")%></td>
              <td>R$ <%= sprintf('%.2f', spending.value)%></td>
              <td><%= link_to 'Nota Fiscal', spending.document_url, target: '_blank'%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <button type="button" class="btn btn-primary" style="margin-bottom:25px"><%= link_to 'Voltar', parliamentaries_path, style: 'color: white'%></button>
  </div>
</div>