<center>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4" style="margin-top:75px" text-align="center">
      <div class="card">
        <div class="card-body">
          <%= form_tag import_csv_path, multipart: true do %>
          <%= file_field_tag :file%>
          <%= submit_tag "Importar CSV"%>
          <% end %>
        </div>
      </div>
      <p><%= flash[:alert] %></p>

      <button type="button" class="btn btn-primary" style="margin-top:75px" style="margin-bottom:25px">
        <%= link_to 'Voltar', root_path, style: 'color: white'%>
      </button>
      <div class="row">
      </div>
    </div>
  </div>
<center>


