<center>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" style="margin-top:75px">
      <h1><b>Desafio Backend</b></h1>

      <div style="margin-top:75px">  
        <p>    O projeto Despesas-Parlamentares é resultado de Desafio Backend da AgendaEdu,
               que consiste em importar as informações das despesas da Cota para o Exercício 
               da Atividade Parlamenta(CEAP) dos Deputados Federais, no caso de São Paulo, do 
               ano de 2019 para que possam ser vizualizadas de uma forma mais acessível, além 
               de incentivar a fiscalização dos gastos com dinheiro público, assim como a 
               disponibilização de dados abertos para consulta popular.
        </p>
      </div>
    </div>
  </div>
<center>
