<!DOCTYPE html>
<html>
  <head>
    <title>Despesas Parlamentares</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Despesas Parlamentares</a>
      <form class="form-inline">
        <button class="btn btn-secondary" type="button"><%= link_to 'Parlamentares', parliamentaries_path, style: 'color: white'%></button>
        <div style="padding-left: 10px;">
          <button class="btn btn-secondary" type="button"><%= link_to 'Adicionar Despesas', add_data_path, style: 'color: white'%></button>
        </div>
      </form>
    </nav>
    <%= yield %>
  </body>
</html>
